*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

hr{
    border: #F4B400 0.1px groove;
}

.connect-1{
    background-color: #033B1F;
    padding: 0 1rem 0rem 3rem;
    width: 15%;
    color: #E5E5E5;
}

.connect-2{
    background: rgb(3,69,36);
    background: linear-gradient(135deg, rgba(3,69,36,1) 31%, rgba(7,23,12,1) 49%, rgba(57,0,0,1) 100%);
    width: 85%;
}

.collections-section{
    display: flex;
}

.nav2 input[type=text]{
    width: 50%;
    padding: 12px 30px 12px 40px;
    background-color: #EBEAEB;
    border: none;
    color: #000;
    border-radius: 30px;
    background-image: url('/IMAGES/search-line.png');
    background-position: 10px ;
    background-repeat: no-repeat;
}

.connect-1-b{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
}

.connect-1-b a:hover, .connect-1-b a:focus{
    border: 1px solid #F4B40D;
}
