*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

a{
    text-decoration: none;
}

.connect-1{
    background-color: #033B1F;
    padding: 0 1rem 0rem 3rem;
    width: 15%;
    color: #E5E5E5;
}

.connect-2{
    background: rgb(3,69,36);
    background: linear-gradient(135deg, rgba(3,69,36,1) 31%, rgba(7,23,12,1) 49%, rgba(57,0,0,1) 100%);
    width: 85%;
}

.collections-section{
    display: flex;
}

.nav2{
    padding: 2rem 8rem 3rem 10rem;
    display: flex;
    justify-content: space-between;
}

.nav2 a{
    line-height: 40px;
}

.nav2 input[type=text]{
    width: 50%;
    padding: 12px 30px 12px 40px;
    background-color: #EBEAEB;
    border: none;
    color: #000;
    border-radius: 30px;
    background-image: url('/IMAGES/search-line.png');
    background-position: 10px ;
    background-repeat: no-repeat;
}

.connect-1-b{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
}

.connect-1-b a:hover, .connect-1-b a:focus{
    border: 1px solid #F4B40D;
}

.connect-1-a img{
    width: 6rem;
    padding: 2rem 0 2rem  3rem;
}

.free-trial{
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.free-trial a{
    color: #F4B40D;
}

.free-trial a:hover{
   color: #fff;
}

#logout{
    margin: 0 auto 3rem auto;
}
