*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #fff;
    /* background: linear-gradient(90deg, rgba(1,41,22,1) 0%, rgba(40,42,22,1) 35%, rgba(35,2,1,1) 100%); */
}

/* ************** GENERAL STYLING ********************/
a{
    text-decoration: none;
}

::placeholder {
    font-size: 13px;
    color: #ABAAAA;
    text-align: center;
}

.connect-1{
    background-color: #033B1F;
    padding: 0 1rem 0rem 3rem;
    width: 15%;
    color: #E5E5E5;
}

.connect-1-a img{
    width: 3rem;
    padding: 2rem 0 3rem 0;
}

.connect-2{
    background: rgb(3,69,36);
    background: linear-gradient(90deg, rgba(3,69,36,1) 31%, rgba(7,23,12,1) 49%, rgba(57,0,0,1) 100%);
    width: 85%;
}

.container{
    background: rgb(34,72,29);
    background: linear-gradient(90deg, rgba(34,72,29,1) 31%, rgba(21,16,8,1) 49%, rgba(58,1,1,1) 100%);
}

.connect-wallet{
    display: flex;
}

.nav2 input[type=text]{
    width: 36%;
    padding-left: 40px;
    padding-right: 30px;
    background-color: #EBEAEB;
    border: none;
    border-radius: 30px;
    background-image: url('/IMAGES/search-line.png');
    background-position: 10px ;
    background-repeat: no-repeat;
}

.connect-1-b{
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.free-trial{
    background-color: #35541B;
    margin: 1rem 0;
    width: 100%;
    padding: 15px 3px;
}

#logout{
    margin: 0 0 3.5rem 0;
}

.free-trial{
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.free-trial a{
    color: #F4B40D;
}

.free-trial a:hover{
    text-decoration: underline;
}
