*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

main{
    background: rgb(1,63,33);
    background: linear-gradient(90deg, rgba(1,63,33,1) 31%, rgba(31,29,16,1) 49%, rgba(57,1,1,1) 100%);
}