*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background: rgb(1,41,22);
    background: linear-gradient(90deg, rgba(1,41,22,1) 0%, rgba(40,42,22,1) 35%, rgba(35,2,1,1) 100%);
}

/* ************** GENERAL STYLING ********************/
a{
    text-decoration: none;
}

span{
    color: #F4B40D;
}

header,main{
    
}

/* ************** HEADER STYLING********************/
header{
    padding: 1rem 6rem;
}

#nav-logo{
    width: 24%;
}

.nav-section{
    display: flex;
    gap: 3rem;
}

.nav2{
    display: flex;
    justify-content: space-between;
}
/* ************** END OF HEADER STYLING ********************/

/* ************** HERO-SECTION STYLING ********************/
.hero-section{
    display: flex;
    gap: 1rem;
    margin: 2rem 3rem;
    color: #fff;
}

.hero-section-partA p{
    font-weight: 500;
    font-size: 16px;
    line-height: 20.72px;
}

.hero-section-partB{
display: flex;
}

#hero-img1{
    width: 263px;
    height: 358px;
}

.explore-button{
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #F4B40D;
    border-radius: 10px;
    color: #fff;
}

.create-button{
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #F4B40D;
    border-radius: 10px;
    color: #fff;
}

.explore-button a, .create-button a{
    color: #fff;
}

.hero-section-partA h2{
    width: 56%;
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    line-height: 40px;
    margin: 0 0 2rem 0;
}

.hero-section-partA p{
    width: 70%;
    text-align: left;
    font-size:16px ;
    font-weight: 500;
    line-height:20.72px ;
    margin: 0 0 2rem 0;
}

.hero-buttons{
    display: flex;
    gap: 14px;
}
/* ************** END OF HERO-SECTION STYLING ********************/

/* **************SECTION-ONE STYLING********************/


/* **************END OF SECTION-ONE STYLING********************/

/* **************SECTION-TWO STYLING********************/


/* **************END OF SECTION-TWO STYLING********************/

/* **************SECTION-THREE STYLING********************/


/* **************END OF SECTION-THREE STYLING********************/

/* **************FOOTER STYLING********************/


/* **************END OF FOOTER STYLING********************/


/* **************MEDIA QUERY STYLING********************/


/* **************END OF MEDIA QUERY STYLING********************/