*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #fff;
    /* background: linear-gradient(90deg, rgba(1,41,22,1) 0%, rgba(40,42,22,1) 35%, rgba(35,2,1,1) 100%); */
}

/* ************** GENERAL STYLING ********************/
a{
    text-decoration: none;
}

span{
    color: #F4B40D;
}

::placeholder {
    font-size: 13px;
    color: #ABAAAA;
    text-align: center;
}

.color-one{
    background: rgb(1,68,35);
    background: linear-gradient(180deg, rgba(57,44,14) 67%, rgba(55,11,6,1) 95%, rgba(40,3,2,1) 100%);
}

hr{
    display: block;
    border: #EBEAEB 0.5px;
    border-style: inset;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ************** HEADER STYLING********************/
header{
    padding: 2rem 4rem 1.5rem 4rem;
    color: #fff;
}

#nav-logo{
    width: 37%;
}

.nav-section{
    display: flex;
    gap: 3rem;
}

.nav2{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav2 a{
    color: #fff;
}

.nav2 input[type=text]{
    width: 36%;
    padding-left: 40px;
    padding-right: 30px;
    background-color: #EBEAEB;
    border: none;
    border-radius: 30px;
    background-image: url('/IMAGES/search-line.png');
    background-position: 10px ;
    background-repeat: no-repeat;
}

.nav2 input[type=text]:focus {
    /* border:10px solid #F4B40D; */
}

#nav-btn{
    padding: 5px 20px;
    background-color: transparent;
    border: 2px solid #F4B40D;
    border-radius: 10px;
    color: #fff;
    margin: 0 0 0 -70px;
}

#nav-btn:hover{
    border: 2px solid #fff;
}

#nav-middle{
    line-height: 50px;
}

#nav-middle:hover{
    color: #F4B40D;
}

#nav-middle:active{
    border-bottom:1px solid #F4B40D;
}

/* ************** END OF HEADER STYLING ********************/

/* ************** HERO-SECTION STYLING ********************/
.hero-section{
    display: flex;
    gap: 6rem;
    padding: 0 0 1rem 0;
    margin: 5rem 3rem 1rem 4rem;
    color: #fff;
}

.hero-section-partA p{
    font-weight: 500;
    font-size: 16px;
    line-height: 20.72px;
}

.hero-section-partB{
    display: flex;
    gap: 14px;
}

.hero-image-sec2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px  0 0 0;
}

.explore-button{
    padding: 10px 40px;
    background-color: #F4B40D;
    border: none;
    border-radius: 10px;
}

.create-button{
    padding: 10px 40px;
    background-color:transparent;
    border-radius: 10px;
    border: 1px solid #F4B40D;
}

.create-button:hover{
    color: #F4B40D;
}

.explore-button a{
    color: #000;
} 
.create-button a{
    color: #fff;
}

.explore-button a:hover{
    color:#fff;
}
.create-button:hover{
    border: 1px solid #fff;
}

.hero-section-partA h2{
    width: 87%;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
    line-height: 45px;
    margin: 0 0 1.7rem 0;
}

.hero-section-partA p{
    width: 85%;
    text-align: left;
    font-size:16px ;
    font-weight: 500;
    line-height:24px ;
    margin: 0 0 3rem 0;
}

.hero-buttons{
    display: flex;
    gap: 30px;
    font-size: 20px;
}

.hero-buttons a{
    font-size: 20px;
}
/* ************** END OF HERO-SECTION STYLING ********************/

/* **************SECTION-ONE STYLING********************/
.section-one{
    margin: 5rem 0 0 0;
    padding: 1rem 4rem 5rem 4rem;
    color: #fff;
    display: flex;
    gap: 2rem;
}

.section-one-partB h3, .section-one-partA h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

.section-one-partA {
    width: 100%;
}

.section-one-partB{
    width: 67%;
}

.section-one-partA p{
    width: 83%;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.featured-section img{
    width: 28%;
    border-radius: 8px;
}

.featured-1, .featured-2{
    display: flex;
    gap: 10px;
}

.featured-1 p{
    width: 50%;
}

.featured-2 p{
    width: 100%;
}

.section-one-partB span a{
    color: #F4B40D;
    font-size: 21px;
    letter-spacing: 3px;
    border-bottom: 1px solid #fff;
}

.section-one-partB span a:hover{
    color: #fff;
    border-bottom: 1px solid #F4B40D;
}

.featured-section{
    display: flex;
    margin: 1rem 0 1rem 0;
}

.featured-section p{
    font-size: 16px;
    padding: 13px 0 0 0;
    line-height: 20px;
}

/* **************END OF SECTION-ONE STYLING********************/

/* **************SECTION-TWO STYLING********************/
.h2-stylexx{
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.text-step{
    color:  #F4B40D;
    text-align: justify;
    
}
.main-cards{
    /* background: #F4B4001A; */
    height: 330px;
    border-radius: 10px;  
    width: 1100px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 8.7spx;
}
 .card{ 
    display: flex;
    flex-direction: row;
    
}
.span-step1{
    color: #BEBEBE;
}

.steps-token{
    flex: 1;
    border: 1px solid #BEBEBE;
    border-radius: 10px; 
    width: 230px;
    height: 140px;
    text-align: center;
    padding-top: 40px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 140px;
    
}

  .text-stark{
    color: #BEBEBE;
    margin: 25px;
  }
  #green-italics{
    text-decoration: none;
    color: #27d581;
  }

/* **************END OF SECTION-TWO STYLING********************/

/* **************SECTION-THREE STYLING********************/


/* **************END OF SECTION-THREE STYLING********************/

/* **************FOOTER STYLING********************/
.footer-section{
    background: rgb(36,19,1);
    background: linear-gradient(90deg, rgba(36,19,1,1) 31%, rgba(56,19,1,1) 70%, rgba(44,19,1,1) 100%);
    color: #fff;
    padding: 3rem 4rem 2rem 4rem ;
}

.footer-section-1-1 h2{
    color: #F4B40D;
    /* color: rgb(1,41,22); */ 
    letter-spacing: 7px;
}

.footer-section-1{
    display: flex;
    justify-content: space-between;
}

.footer-section-1-2, .footer-section-1-3, .footer-section-1-4{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-section-1-2 h3, .footer-section-1-3 h3, .footer-section-1-4 h3{
    color: #fff;
    font-size: 20px;
}

.footer-section-1-2 a, .footer-section-1-3 a, .footer-section-1-4 a{
    color: #fff;
    text-align: left;
    font-size: 13px;
}

.footer-section-1-2 a:hover, .footer-section-1-3 a:hover, .footer-section-1-4 a:hover{
    color: #F4B40D;
}

.footer-section-2{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 2rem 0rem;
    font-size: 13px;
}

.stark-footer-icons{
    display: flex;
    gap: 23px;
}

.footer-icon{
    font-size: 1.6rem;
}

.footer-icon:hover{
    color: #F4B40D;
}

.footer-section-3{
    text-align: center;
    padding: 1rem 0 0 0;
    font-size: 13px;
}

.footer-section-2 img{
    width: 10rem;
}


/* **************END OF FOOTER STYLING********************/


/* **************MEDIA QUERY STYLING********************/
/* @media only screen and (min-width:992px){
    .nav-section{
        gap: 0rem;
    }
    #nav-btn{
        margin: 0 0 0 0;
    }
    .hero-section-partA h2{
        font-size: 1.5rem;
        line-height: 30px;
        width: 96%;
        margin: 0 0 1rem 0;
    }
    .hero-section-partA p{
        width: 100%;
        line-height: 21px;
    }
}


@media only screen and (min-width:768px){
    header{
        padding: 2rem 2rem;
    }
    .nav-section{
        gap: 0rem;
    }
    #nav-btn{
        margin: 0 0 0 0;
    }
    .nav2 input[type=text]{
        width: 33%;
        padding: 10px 10px;
        border-radius: 20px;
    }
    .hero-section{
        gap: 2rem;
        margin: 2rem 2rem 1rem 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-section-partA h2,.hero-section-partA p{
        width: 100%;
        text-align: center;
    }
    .hero-buttons{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .nav2{
        width: 120%;
    }
    #nav-logo{
        width: 50%;
    }
    .section-one{
        flex-direction: column;
        padding: 1rem 2rem 5rem 2rem;
    }
    .section-one-partA p, .section-one-partA h3,.section-one-partB h3{
        width: 100%;
        text-align: center;
    }
    .section-one-partB{
        width: 100%;
    }
    .featured-section{
        margin-bottom: 2.7rem;
    }
    .section-one-partB span a{
        
    }
} */

/* **************END OF MEDIA QUERY STYLING********************/